---
layout: base
permalink: /index.html
title: 'Hi, I''m Marc Duiker 👋'
description: 'Eleventy starter using modern CSS, fluid type, fluid spacing, flexible layout and progressive enhancement.'
blog:
  title: 'Latest articles'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-secondary)">
    {% svg "divider/soft-top", null, "seperator" %}
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>

    {% svg "divider/soft-bottom", null, "seperator" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 id="an-eleventy-starter">A short introduction</h2>
      <p>
        I'm a developer advocate who loves to code, write, and draw, to help developers achieve more every day. 🚀
      </p>
      <p>
        I have a long history with .NET, Azure, serverless ⚡️, and event-driven architectures ✉️. These days I'm creating content around Dapr, the Distributed Application Runtime, which allows me to explore more programming languages and cloud platforms! 🤩
      </p>
      <p>
        When I'm not working to improve the developer experience, I am either drawing some pixel art for fun, hand-crafting generative art using JavaScript, or creating soundscapes with my modular synth 🎛️.
      </p>
      <p>
        Check the <a href="/about">about</a> page if you want to contact me. See you around! 👋
      </p>

    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      <!-- blog intro text is optional. -->

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature |  region">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
